.mb-0 {
    margin-bottom: 0 !important;
}

.nowrap {
    white-space: nowrap;
}

#table-actors a,
#table-projects a,
#table-scenes a,
#table-blocks a.character-name {
    color: #000;
}

#table-actors td,
#table-projects td,
#table-scenes td,
#table-blocks td {
    border-top: none;
}

#table-scenes td:first-child,
#table-blocks td:first-child {
    width: 99%;
}

.page-header small a,
#table-scenes .btn,
#table-blocks .btn {
    opacity: 0;
}

.page-header small a:focus,
.page-header:hover small a,
#table-scenes tr .btn:focus,
#table-scenes tr:hover .btn,
#table-blocks tr .btn:focus,
#table-blocks tr:hover .btn {
    opacity: 1;
}

#table-blocks tr:first-child .btn.create-below,
#table-scenes tr:last-child .btn.move-up,
#table-blocks tr:last-child .btn.move-up {
    margin-left: 22px;
}

.htmx-settling body {
    opacity: 1;
}

.htmx-swapping body {
    opacity: 0;
    transition: opacity 0.1s ease-out;
}