<th:block xmlns:th="http://www.thymeleaf.org">
<p th:if="${not #strings.isEmpty(block.label)}" style="margin-bottom: 0; text-align: center; font-size: 0.75em; color: #888; text-transform: uppercase; letter-spacing: 0.1em" th:text="${block.label}"></p>
<p th:if="${not #strings.isEmpty(block.personName)}" style="margin-bottom: 0; text-align: center">
    <a th:href="@{/character/show(id=${block.personId})}" class="character-name" style="text-transform: uppercase" th:text="${block.personName}"></a>
</p>
</th:block>
